@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 97%;
    --foreground: 108 4% 15%;
    --card: 60 20% 97%;
    --card-foreground: 108 4% 15%;
    --popover: 60 20% 97%;
    --popover-foreground: 108 4% 15%;
    --primary: 108 7% 17%;
    --primary-foreground: 60 20% 98%;
    --secondary: 60 12% 93%;
    --secondary-foreground: 108 4% 15%;
    --muted: 60 10% 93%;
    --muted-foreground: 90 5% 49%;
    --accent: 80 12% 92%;
    --accent-foreground: 108 4% 15%;
    --destructive: 0 64% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 10% 86%;
    --input: 80 10% 86%;
    --ring: 90 14% 48%;
    --radius: .25rem;
  }
  * { @apply border-border; box-sizing: border-box; }
  body { margin: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
  [data-debug-wrapper="true"] { display: contents !important; }
}